//<QUANTITY>
// Снипет (HTML): qa
.quantity {
	// width: 88px;
	width: 85%;
	height: 100%;
	display: flex;
	align-items: center;
	// .quantity__button
	&__button {
		width: rem(24);
		flex: 0 0 rem(24);
		height: rem(24);
		position: relative;
		cursor: pointer;
		border-radius: 50%;
		border: rem(1) solid #9CA5B3;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px rem(-4.5);
			background-color: #a6a6a6;
			width: rem(9);
			height: rem(1);
		}
		@media (any-hover: hover) {
			&:hover {
				&::before,
				&::after {
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}
		// .quantity__button_plus
		&_plus {
			&::before {
				transform: rotate(-90deg);
			}
		}
		// .quantity__button_minus
		&_minus {
		}
	}
	// .quantity__input
	&__input {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: rem(5);
		flex: 1 1 auto;
		@include adaptiveValue("font-size", 24, 16);
		font-weight: 700;
		line-height: math.div(32, 16);
		color: $bluColor;
		input {
			@include adaptiveValue("font-size", 24, 16);
			font-weight: 700;
			line-height: math.div(32, 16);
			text-align: center;
			height: 100%;
			color: $bluColor;
			text-align: center;
			field-sizing: content;
			margin-top: rem(-1.5);
		}
	}
}
